%img{src: 'http://questory.keikai.topblog.jp/files/user/201207291533_1.jpg'}
%h1
  気に入ったアーティストが
  %br
  あなたの街にやってくる
%p 
  LiveFlight（ライブフライト）は
  %br
  様々なアーティストの1分動画を見て
  %br
  「生演奏見てみたいボタン」
  %br
  を押しておくと
  %br
  あなた活動地域の近くで彼らの生演奏が
  %br
  見られるようになるアプリです
